@charset "UTF-8";
/* CSS Document */


	
#static-index {
	width:100%;
	margin-top:0px;
	}
	
.article {
	width:100%;
	margin-top:50px;
	
	}
	
#titleBar {
	width:100%;
	background-position:center;
	}
	
.blinkFrame {
	display:none;
	}